/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}







/****************/
/* JOUW STYLING */
/****************/



body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1200px;
  padding: 24px 24px;
  background-color: #f7f7f7;
  margin: 0 auto;
  opacity: 0.9;
  z-index: 9999;
}

header img {
  width: 69px;
  height: auto;
  vertical-align: bottom;
}


button {
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
  border: 2px solid #000;
  font-weight: 600;
  padding: 8px 18px;
  font-size: .75rem;
}


main {
  margin: 0 auto;
  max-width: 90rem;
  width: 100%;
  padding: 0 24px;
}



h1 {
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: -0.1em; 
  line-height: 1.33;
  padding-top: 3.4em;
}

p {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

main a {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 15px;
	vertical-align: middle;
    cursor: pointer;
    padding: 10px 14px;
    border: 2px solid transparent;
    border-radius: 50px;
	color: #000;
    background-color: #ffc426;
	text-decoration: none;
    font-family: "montserrat", sans-serif;
    text-align: center;
	font-size: 1rem;
	font-weight: 600;
	box-shadow: 0 25px 15px -20px rgba(0, 0, 0, .1), 0 30px 30px -20px rgba(255, 196, 38, .3);
}

main > a:nth-of-type(2) {
	opacity: 0.5;
	font-size: 0.75rem;
	background-color: #f7f7f7;
	margin-top: -0.9em;
}

img.middenfoto {
	display: flex;
	align-items: center;
	justify-content: center;
  position: absolute;
	width: 100%;
	height: auto;
	max-width: 87.2%;
	border-radius: 5px;
	box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
	margin-top: 5.9em;
  max-width: 848px;
}

img.achtergrondfoto {
  display: block;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 8px 10px -10px rgba(0, 0, 0, .7), 0 20px 30px -10px rgba(0, 0, 0, .5);
  z-index: -2;
}

img.achtergrondfoto:nth-of-type(2) {
  width: 80px;
  margin-left: 20px;
  margin-top: 30px;
}

img.achtergrondfoto:nth-of-type(3) {
  width: 65px;
  margin-left: 160px;
  margin-top: 200px;
}

article {
	position: relative;
	display: block;
	margin: 0 auto;
  padding: 16px 24px;
	z-index: 1;
	max-width: 30rem;
	background-color: #fff;
	height: auto;
	margin-top: 1em;
	padding-bottom: 2em;
}

h2 {
  font-weight: 700;
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: -0.1em; 
  line-height: 1.33;
}

p.box {
	font-weight: 350;
	margin-bottom: 0;
	line-height: 1.6;
}

article img {
	margin: 24px auto 0;
	width: 196px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}

article:nth-of-type(2) {
  margin-top: 17em;
}

article:nth-of-type(3) {
  margin-top: 14em;
}


h2.tweedebox {
  text-align: left;
}

p.tweedebox {
  font-weight: 350;
	margin-bottom: 0;
	line-height: 1.6;
  text-align: left;
}

main ul {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0 -24px;
  list-style: none;
}

main ul li {
  position: relative;
  flex: 0 0 auto; 
}

main ul li img{
  display: block;
  width: 327px;
  height: auto;
  z-index: 0;
}

main ul li:nth-of-type(1) {
  margin-left: 24px;
}

main ul li:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 93, 62, 0.35);
  background-image: linear-gradient(180deg, transparent, #a763393e);
  pointer-events: none;
  z-index: 1;
}


main ul li:nth-of-type(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 254, 254, 0.2);
  background-image: linear-gradient(180deg, transparent, #363636);
  pointer-events: none;
  z-index: 1;
}

main ul li:nth-of-type(3) {
  margin-right: 24px;
}

main ul li:nth-of-type(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(174, 203, 208, 0.2);
  background-image: linear-gradient(180deg, transparent, #000000);
  pointer-events: none;
  z-index: 1;
}

main ul li p {
  position: absolute;
  bottom: 7.3em;
  left: 1.6em;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -.5px;
  line-height: 1.3;
  z-index: 2; 
  color: white;
  opacity: 0.8;
}

main ul li h3 {
  position: absolute;
  bottom: 10px;
  left: 0.7em;
  margin: 0;
  max-width: 100%;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -.5px;
  line-height: 1.3;
  color: white;
  z-index: 2;
}

.boxachtergrond {
  position: relative;
}

.boxachtergrond article {
  margin-top: 15em;
  display: flex;
}

.ipad {
  position: absolute;
  top: -7rem;
  left: 50%;         
  transform: translateX(-60%);
  width: 70%;
  max-width: 370px;
  height: auto;
  z-index: -1;
}

.telefoon {
  position: absolute;
  bottom: 0;
  left: 50%;         
  transform: translateX(20%);
  width: 30%;
  max-width: 147px;
  height: auto;
  top: -5rem;
}

.boxachtergrond:nth-of-type(2) .ipad {
  left: 50%;         
  transform: translateX(-50%);
  max-width: 370px;
}

.applebutton {
  background-color: transparent;
  margin-top: 7rem;
  margin-bottom: 1.5rem;
  padding: 0 0;
  border: none;
  width: 62%;
  max-width: 202px;
  box-shadow: none;
}

.googlebutton {
  background-color: transparent;
  margin-bottom: 1.5rem;
  padding: 0 0;
  border: none;
  width: 62%;
  max-width: 202px;
  box-shadow: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  max-width: 90rem;
  width: 100%;
  padding: 0 24px;
}

footer img {
  width: 69px;
  height: auto;
  vertical-align: bottom;
  padding-top: 10em;
  margin-bottom: 1em;
}

footer ul:nth-of-type(1) {
  padding-left: 0;
}

footer ul:nth-of-type(1) a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

footer ul:nth-of-type(1) li {
  list-style: none;
  color: #000;
  line-height: 2rem;
  margin-bottom: 15px;
  font-weight: 600;
}


footer section:nth-of-type(2) {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000;
  text-align: center;
  font-size: 12px;
  list-style: none;

  padding-left: 0;
}

footer section:nth-of-type(2) ul {

  padding: 0;
  width: 100%;
}

footer section:nth-of-type(2) li,
footer section:nth-of-type(2) a {
  color: #fff;        
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  h1{
    font-size: 3rem;
    max-width: 50rem;
  }
  article {
    max-width: 100%;
    background-color: #f7f7f7;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.8;
  }
  h2.tweedebox {
    max-width: 25rem;
  }
  p.tweedebox {
    max-width: 30rem;
  }
  .boxachtergrond {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .boxachtergrond article {
    background-color: #fff;
    padding-top: 11rem;
    padding-bottom: 7rem;
    max-width: 30rem;
    flex-direction: column;
  }
  .boxachtergrond p {
    font-size: 16px;
  }
  .ipad {
    z-index: 1;
  }
  .telefoon {
    z-index: 2;
  }
}